@import "./base.css";
@font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 200;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url("./fonts/Jakarta/PlusJakartaSans-Light.woff2") format("woff2"), url("./fonts/Jakarta/PlusJakartaSans-Light.woff") format("woff");
}
@font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url("./fonts/Jakarta/PlusJakartaSans-Regular.woff2") format("woff2"), url("./fonts/Jakarta/PlusJakartaSans-Regular.woff") format("woff");
}
@font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url("./fonts/Jakarta/PlusJakartaSans-Medium.woff2") format("woff2"), url("./fonts/Jakarta/PlusJakartaSans-Medium.woff") format("woff");
}
@font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url("./fonts/Jakarta/PlusJakartaSans-Bold.woff2") format("woff2"), url("./fonts/Jakarta/PlusJakartaSans-Bold.woff") format("woff");
}


